<mat-toolbar class="title">
  <div fxFlex class="dialog-title truncate">
    {{dialogTitle}}
  </div>
  <button class="close" mat-mini-fab matDialogClose *ngIf="isMobile$|async">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="permissionForm" fxLayout="column" fxFlex style="overflow-y: auto;">
  <mat-form-field>
    <mat-select [formControl]="defaultReceiveT001" required placeholder="默认收货公司" [compareWith]="compareWithT001">
      <mat-option *ngFor="let it of t001s$|async" [value]="it">
        {{it.butxt}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="defaultReceiveT001.hasError('required')">
      <span translate>VALIDATORS.REQUIRED</span>
    </mat-error>
  </mat-form-field>

  <mat-checkbox [formControl]="allT001s">报表查看所有公司</mat-checkbox>

  <mat-form-field>
    <mat-select [formControl]="t001s" [multiple]="true" placeholder="报表查看公司" [compareWith]="compareWithT001">
      <mat-option *ngFor="let it of t001s$|async" [value]="it">
        {{it.butxt}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="button" (click)="submit()" mat-raised-button color="primary" [disabled]="permissionForm.pristine||permissionForm.invalid">
    完成
  </button>
</form>
