<div fxLayoutAlign="space-around center" fxLayout fxLayoutGap="16px" class="search-area">
  <form [formGroup]="searchForm" fxFlex>
    <mat-form-field floatPlaceholder="never">
      <input [formControl]="searchDate" matInput [matDatepicker]="searchDatePicker" [max]="maxSearchDate">
      <mat-datepicker-toggle matSuffix [for]="searchDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #searchDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field floatPlaceholder="never">
      <input [formControl]="carNoQ" matInput [placeholder]="'TOOLTIP.CARNOQ'|translate">
    </mat-form-field>
  </form>

  <button (click)="pickYlips()" type="button" mat-mini-fab matTooltip="{{'TOOLTIP.SEND_BY_NB'|translate}}" tabindex="-1">
    逸盛
  </button>
  <button (click)="updatePta()" type="button" mat-mini-fab matTooltip="{{'TOOLTIP.SEND_BY_OUT'|translate}}" tabindex="-1">
    PTA
  </button>
  <button (click)="updateMeg()" type="button" mat-mini-fab matTooltip="{{'TOOLTIP.SEND_BY_OUT'|translate}}" tabindex="-1">
    MEG
  </button>
  <button (click)="updateMeg1()" type="button" mat-mini-fab matTooltip="{{'TOOLTIP.SEND_BY_OUT'|translate}}" tabindex="-1">
    {{'煤制'|translate}}
  </button>
</div>

<mat-table fxFlex style="overflow-y: auto;" [dataSource]="dataSource">
  <ng-container cdkColumnDef="receiveDate">
    <mat-header-cell *cdkHeaderCellDef>{{'RECEIVEDATE'|translate}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.receiveInfo?.receiveDate|date:'yyyy-MM-dd'}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="carNo">
    <mat-header-cell *cdkHeaderCellDef>{{'CARNO'|translate}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.carNo}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="sendLfimg">
    <mat-header-cell *cdkHeaderCellDef>{{'SEND-LFIMG'|translate}}(KG)</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.lfimg}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="receiveLfimg">
    <mat-header-cell *cdkHeaderCellDef>{{'RECEIVE-LFIMG'|translate}}(KG)</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.receiveInfo?.lfimg}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="diffLfimg">
    <mat-header-cell *cdkHeaderCellDef>{{'DIFF-LFIMG'|translate}}(KG)</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.receiveInfo?.lfimg-row.lfimg}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="btns">
    <mat-header-cell *cdkHeaderCellDef>{{'COMMON.OPERATE'|translate}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-button type="button" (click)="updateSendInfo(row)" mat-button color="primary">
        {{'COMMON.EDIT'|translate}}
      </button>
      <button mat-button type="button" (click)="delete(row)" mat-button color="warn">
        {{'COMMON.DELETE'|translate}}
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
