<mat-toolbar class="title">
  <div fxFlex class="dialog-title truncate">
    {{dialogTitle}}
  </div>
  <button tabindex="-1" type="button" class="close" mat-mini-fab matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="sendInfoForm" fxFlex fxLayout="column" style="overflow-y: auto">

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <mat-select [formControl]="packType" required placeholder="{{'PACKTYPE'|translate}}">
        <mat-option *ngFor="let it of PACK_TYPES" [value]="it">
          {{it|packType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <mat-select [formControl]="transType" required placeholder="{{'TRANSTYPE'|translate}}">
        <mat-option *ngFor="let it of TRANS_TYPES" [value]="it">
          {{it|transType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <input matInput [formControl]="batchNo" placeholder="品种(生产线)">
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input [formControl]="carNo" [matAutocomplete]="autoCarNo" matInput required [placeholder]="'CARNO'|translate">
      <mat-autocomplete #autoCarNo="matAutocomplete" (optionSelected)="carNoSelected($event)">
        <mat-option *ngFor="let it of carNoInfoLogs$|async" [value]="it.carNo">
          {{it.carNo}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="carNo.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <input [formControl]="carDriver" matInput placeholder="驾驶员">
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <mat-select [formControl]="transCorp" [compareWith]="compareWithId" required placeholder="{{'TRANSCORP'|translate}}">
        <mat-option *ngFor="let it of transCorps$|async" [value]="it">
          {{it.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="transCorp.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="50">
      <input matInput [formControl]="lfa1" [matAutocomplete]="autoLfa1" [placeholder]="'LFA1'|translate">
      <mat-autocomplete #autoLfa1="matAutocomplete" [displayWith]="displayLfa1Fn">
        <mat-option *ngFor="let it of lfa1s$|async" [value]="it" [matTooltip]="it.name1">
          {{it.lifnr|delPreZero}} {{it.name1}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field fxFlex="50">
      <mat-select [formControl]="headInfo" [compareWith]="compareWithId" placeholder="{{'HEADINFO'|translate}}">
        <mat-option *ngFor="let it of headInfos$|async" [value]="it">
          {{it.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <mat-select [formControl]="supplyInfo" [compareWith]="compareWithId" placeholder="{{'SUPPLYINFO'|translate}}">
        <mat-option *ngFor="let it of supplyInfos$|async" [value]="it">
          {{it.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <mat-select [formControl]="wharf" [compareWith]="compareWithT001l" placeholder="{{'WHARFT001L'|translate}}">
        <mat-option *ngFor="let it of wharfs$|async" [value]="it">
          {{it.lgobe}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <mat-select [formControl]="receiveT001l" [compareWith]="compareWithT001l" required placeholder="{{'RECEIVET001L'|translate}}">
        <mat-option *ngFor="let it of receiveT001ls$|async" [value]="it">
          {{it.lgobe}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="receiveT001l.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input [formControl]="sendDate" matInput [matDatepicker]="sendDatePicker" required [placeholder]="'SENDDATE'|translate">
      <mat-datepicker-toggle matSuffix [for]="sendDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #sendDatePicker></mat-datepicker>
      <mat-error *ngIf="sendDate.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <input [formControl]="receiveDate" matInput [matDatepicker]="receiveDatePicker" required [placeholder]="'RECEIVEDATE'|translate">
      <mat-datepicker-toggle matSuffix [for]="receiveDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #receiveDatePicker></mat-datepicker>
      <mat-error *ngIf="receiveDate.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="33">
      <input matInput [formControl]="pickPoundNo" placeholder="{{'PICKPOUNDNO'|translate}}">
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="sendLfimg2" required placeholder="发货毛重" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="sendLfimg2.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="sendLfimg2.hasError('min')">
        <span translate [translateParams]="sendLfimg2.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="sendLfimg1" required placeholder="发货皮重" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="sendLfimg1.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="sendLfimg1.hasError('min')">
        <span translate [translateParams]="sendLfimg1.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput [formControl]="sendLfimg" type="number" placeholder="发货净重" class="amount">
      <span matSuffix>KG</span>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="receiveLfimg2" required placeholder="收货毛重" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="receiveLfimg2.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="receiveLfimg2.hasError('min')">
        <span translate [translateParams]="receiveLfimg2.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="receiveLfimg1" required placeholder="收货皮重" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="receiveLfimg1.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="receiveLfimg1.hasError('min')">
        <span translate [translateParams]="receiveLfimg1.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput [formControl]="receiveLfimg" type="number" placeholder="收货净重" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="receiveLfimg.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="receiveLfimg.hasError('min')">
        <span translate [translateParams]="receiveLfimg.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="diffLfimg1" required placeholder="{{'DIFFLFIMG1'|translate}}" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="diffLfimg1.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput step="100" [formControl]="diffLfimg2" required placeholder="{{'DIFFLFIMG2'|translate}}" class="amount">
      <span matSuffix>KG</span>
      <mat-error *ngIf="diffLfimg2.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput [formControl]="finalLfimg" placeholder="{{'FINALLFIMG'|translate}}" class="amount">
      <span matSuffix>KG</span>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input type="number" matInput [formControl]="packNo" required [placeholder]="'PACKNO'|translate" class="amount">
      <mat-error *ngIf="packNo.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="packNo.hasError('min')">
        <span translate [translateParams]="packNo.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput [formControl]="sendLfimgPerPack" placeholder="{{'SENDLFIMGPERPACK'|translate}}" class="amount">
      <span matSuffix>KG</span>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input type="number" matInput [formControl]="receiveLfimgPerPack" placeholder="{{'RECEIVELFIMGPERPACK'|translate}}" class="amount">
      <span matSuffix>KG</span>
    </mat-form-field>
  </div>

  <div fxLayout class="row" fxLayoutGap="16px">
    <mat-form-field fxFlex="33">
      <input type="number" matInput [formControl]="littleLfimgPerPack" required placeholder="{{'LITTLELFIMGPERPACK'|translate}}" class="amount">
      <mat-error *ngIf="littleLfimgPerPack.hasError('required')">
        <span translate>VALIDATORS.REQUIRED</span>
      </mat-error>
      <mat-error *ngIf="littleLfimgPerPack.hasError('min')">
        <span translate [translateParams]="littleLfimgPerPack.getError('min')">VALIDATORS.MIN</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput [formControl]="sendNote" placeholder="{{'SENDNOTE'|translate}}">
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput [formControl]="receiveNote" placeholder="{{'RECEIVENOTE'|translate}}">
    </mat-form-field>
  </div>

  <mat-toolbar class="info" *ngIf="finalLfimg.value">
    <span fxFlex>SAP订单</span>
    <button tabindex="-1" type="button" mat-icon-button (click)="addSapReceiveInfo()" *ngIf="sapReceiveInfos.length<2">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <div formArrayName="sapReceiveInfos">
    <div *ngFor="let sapReceiveInfo of sapReceiveInfos.controls;let i=index;" [formGroupName]="i" fxLayout fxLayoutAlign="start center" class="row" fxLayoutGap="16px">
      <mat-form-field fxFlex="33">
        <input matInput formControlName="sapNo" required placeholder="SAP订单号">
        <mat-error *ngIf="sapReceiveInfo.get('sapNo').hasError('required')">
          <span translate>VALIDATORS.REQUIRED</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="33">
        <input type="number" matInput step="100" formControlName="amount" required placeholder="SAP订单数量" class="amount">
        <span matSuffix>KG</span>
        <mat-error *ngIf="sapReceiveInfo.get('amount').hasError('required')">
          <span translate>VALIDATORS.REQUIRED</span>
        </mat-error>
        <mat-error *ngIf="sapReceiveInfo.get('amount').hasError('min')">
          <span translate [translateParams]="sapReceiveInfo.get('amount').getError('min')">VALIDATORS.MIN</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="33">
        <mat-select formControlName="t001l" placeholder="{{'RECEIVET001L'|translate}}" [compareWith]="compareWithT001l">
          <mat-option *ngFor="let it of receiveT001ls$|async" [value]="it">
            {{it.lgobe}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sapReceiveInfo.get('t001l').hasError('required')">
          <span translate>VALIDATORS.REQUIRED</span>
        </mat-error>
      </mat-form-field>

      <button type="button" mat-icon-button (click)="sapReceiveInfos.removeAt(i);" color="warn">
        <mat-icon>clear</mat-icon>
      </button>

      <!--<button type="button" mat-icon-button (click)="removeSapReceiveInfo(i);" color="warn">-->
      <!--<mat-icon>clear</mat-icon>-->
      <!--</button>-->
    </div>
  </div>

  <mat-dialog-actions>
    <button type="button" (click)="submit()" mat-raised-button color="primary" [disabled]="sendInfoForm.pristine||sendInfoForm.invalid">
      {{'COMMON.FINISH'|translate}}
    </button>
  </mat-dialog-actions>
</form>

