<mat-toolbar class="title">
  <div fxFlex class="dialog-title truncate">
    {{title$|async}}
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-form-field floatPlaceholder="never">
    <input [formControl]="searchDate" matInput [matDatepicker]="picker" [max]="maxSearchDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field floatPlaceholder="never">
    <input [formControl]="carNoQ" matInput [formControl] [placeholder]="'TOOLTIP.CARNOQ'|translate">
  </mat-form-field>
</form>

<mat-divider></mat-divider>
<mat-nav-list dense fxFlex style="overflow-y: auto;">
  <mat-list-item *ngFor="let ylips of ylipses$|async" (click)="pick(ylips)">
    <div matLine fxLayout fxLayoutGap="16px" fxLayoutAlign="space-around center">
      <span>{{ylips.erdat|date:'yyyy-MM-dd'}}</span>
      <span>{{ylips.carNo}}</span>
      <span>{{ylips.lfimg}} KG</span>
    </div>
  </mat-list-item>
</mat-nav-list>
